@font-face {
  font-family: HeadingPro;
  src: url(../fonts/Heading-Pro-Bold-trial.ttf);
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/DMSans-Regular.ttf);
}

.container-comp {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #552495;
  background-image: url("../images/events_intro_bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fcfcfc;
  padding-top: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-comp {
  font-family: HeadingPro;
  font-size: 6vw;
}

.text-comp {
  width: 80vw;
  height: fit-content;
  margin: auto;
  position: relative;
  top: -10vh;
}

.description {
  margin-top: 1.6vw;
  font-family: DMSans;
  font-size: 2vw;
  width: 70vw;
}

.down-arrow {
  height: 7vh;
  position: absolute;
  bottom: 4vw;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.down-arrow:hover {
  cursor: pointer;
}
@media (orientation: portrait) {
  .heading-comp {
    font-size: 12vw;
  }
  .description {
    font-size: 6vw;
  }
  .container-comp {
    background-size: 220vh;
  }
}
