@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.navbar {
  position: fixed;
  /* position: -webkit-sticky; */
  /* filter:drop-shadow(2px 2px rgb(0, 0, 0)); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vw;
  color: white;
  z-index: 10;
  top: 0;
  padding: 0 6vw;
  width: 100vw;
  /* background-color: rgba(19, 133, 66, 1); */
  backdrop-filter: blur(2px);
  /* box-shadow: 1px 1px rgba(89, 89, 89, 0.5); */
  background-color: rgba(24, 24, 24, 0.3);
  /* background-image: url("../images/navbar_bg.svg"); */
}
.leftsidenav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  /* color: white; */
  justify-content: space-between;
  align-items: center;
}
.rightsidenav {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  font-size: 1.2vw;
  margin-right: 2vw;
}
.individual {
  padding-left: 1vw;
  padding-right: 1vw;
  /* padding-top: 5vw; */
  font-family: "DM Sans", sans-serif;
  text-decoration-style: solid;
}
.alcherhead {
  padding-left: 1vw;
  font-size: 2vw;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}
.imgdeco {
  width: 2.5vw;
  margin-left: 0vw;
}

.inactive {
  color: white;
  text-decoration: none;
}

.active {
  color: white;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 0.25vw;
}

.hamburger {
  width: 8vw;
  z-index: 99;
  display: none;
}
.down {
  /* display: none; */
  display: none;
}
.down_active {
  /* display: none; */
  display: flex;
  top: 5vw;
  position: absolute;
  flex-direction: column;
  padding: 1vw 1vw 1vw 0;
  backdrop-filter: blur(2px);
  /* box-shadow: 1px 1px rgba(89, 89, 89, 0.5); */
  background-color: rgba(24, 24, 24, 0.3);
}
@media screen and (max-width: 768px) {
  .navFixed {
    position: fixed;
  }
  .alcherhead {
    display: none;
  }
  .individual {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .left {
    display: none;
  }
  .navbar {
    height: 10vw;
  }
  .imgdeco {
    width: 6vw;
  }
}
