@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 0 !important;
}
.pr {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.box {
  width: 18vw;
  height: 25vw;
  background-image: url(../images/box_img_team.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.for2heading {
  display: inline-block;
  width: 19vw;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
}
