@font-face {
    font-family: DMSans;
    src: url(../../components/fonts/DMSans-Regular.ttf);
  }
.stybutton
{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius:10vw;
    padding: 1.5vw;
    color: white;
    font-size: 2vw;
    font-family: DMSans;
}
