@font-face {
  font-family: HeadingPro;
  src: url(../../components/fonts/Heading-Pro-Bold-trial.ttf);
}

.heading
{
    display:flex;
    justify-content: center;
    color: #138542;
    font-size: 5vw;
    font-weight: 700;
    font-family: HeadingPro;

}
.subheading
{
    display:flex;
    /* justify-content: center; */
    /* color: rgba(19, 133, 66, 1); */
    font-size: 2vw;
    /* justify-self: center; */
    text-align: center;
    flex-direction: column;
}
.thickline
{
    /* background-color: rgb(42, 144, 84); */
    background: rgba(66, 201, 142, 0.3);

    align-self: center;
    height:1vw;
    width: 80vw;
    margin-bottom: 1vw;
}
.buttonsdiv
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-self: center;
    padding-bottom: 2vh;
}
.row1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vw;
}
.row2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vw;
    margin-bottom: 2vw;
    /* justify-items: center; */
    /* justify-self: ; */
}
 .animate
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vw;
    overflow: hidden;
}
.animate >div
{
    margin-bottom: 50vw;
    height: 50vw;
    display: inline-block;
}
/* .animate div :first-child
{
    animation: companimes 10s infinite;
} */

.animate .animationElement {
    animation: companimes 60s infinite;
  }
  .animate .animationElement.paused {
    animation-play-state: paused;
  }
  
  
  @keyframes companimes {
    0%{margin-top:0vw;
    }
    14.28%{margin-top:-55vw;}
    28.56% {margin-top: -105vw;}
    42.84% {margin-top: -155vw;}
    57.12% {margin-top: -205vw;}
    71.4% {margin-top: -255vw;}
    85.68% {margin-top: 0vw;}
    99.96%{margin-top:0vw;}
  } 
  .b1col
  {
    background-color:'#138542'
  }
  .b2col
  {
    background-color:'#138542'
  }
  .b3col
  {
    background-color:'#138542'
  }
  .b4col
  {
    background-color:'#138542'
  }
  .b5col
  {
    background-color:'#138542'
  }
  .b6col
  {
    background-color:'#138542'
  }

.bgdanimate2
{
    background: url('../Images/diamondbgd.png') repeat-y 0 0;
    background-size: 130vw;
    height: 10vw;
}

.bgdanimate1
{

  position: absolute;
  height: 10vw;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 20%,
  rgba(255,255,255,1));

}
.bgdanimate1:hover ~ .bgdanimate2
{
    scroll-behavior: smooth;
  animation: bganime 300s infinite ;
    -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: linear;

}
  @keyframes bganime {
    100%{background-position: 0 20000px;}
    
  } 
  @media (orientation: portrait) {
  .heading {
    font-size: 7vw;
    font-family: HeadingPro;
  }
  .subheading {
    font-size: 1.5vh;
  }
}