@font-face {
  font-family: HeadingPro;
  src: url(../../components/fonts/Heading-Pro-Bold-trial.ttf);
}

@font-face {
  font-family: DMSans;
  src: url(../../components/fonts/DMSans-Regular.ttf);
}
.heading
{
    display:flex;
    justify-content: center;
    color: #138542;
    font-size: 7vw;
    font-family: HeadingPro;
    /* box-shadow: 0vw -5px 10px rgba(0, 0, 0, 0.4); */
}
.subheading
{
    display:flex;
    font-family: DMSans;
    /* justify-content: center; */
    /* color: rgba(19, 133, 66, 1); */
    font-size: 2vw;
    /* justify-self: center; */
    text-align: center;
    flex-direction: column;
}
.thickline
{
    /* background-color: rgb(42, 144, 84); */
    background: rgba(66, 201, 142, 0.3);

    align-self: center;
    height:1vw;
    width: 80vw;
    margin-bottom: 1vw;
}
.buttonsdiv
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-self: center;
}
.row1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vw;
}
.row2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vw;
    margin-bottom: 2vw;
    /* justify-items: center; */
    /* justify-self: ; */
}
 .animate
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vw;
    overflow: hidden;
}
.animate >div
{
    margin-bottom: 50vw;
    height: 50vw;
    display: inline-block;
}
/* .animate div :first-child
{
    animation: companimes 10s infinite;
} */

.animate .animationElement {
    animation: companimes 70s infinite;
    scroll-behavior: smooth;
    transition: linear;
  }
  .animate .animationElement.paused {
    animation-play-state: paused;
  }
  
  
  @keyframes companimes {
    0%{margin-top:0vw;
    }
    17%{margin-top:-55vw;}
    33% {margin-top: -105vw;}
    50% {margin-top: -155vw;}
    67% {margin-top: -205vw;}
    83% {margin-top: -255vw;}
    100% {margin-top: 0vw;}
   
  } 
  .b1col
  {
    background-color:'#138542'
  }
  .b2col
  {
    background-color:'#138542'
  }
  .b3col
  {
    background-color:'#138542'
  }
  .b4col
  {
    background-color:'#138542'
  }
  .b5col
  {
    background-color:'#138542'
  }
  .b6col
  {
    background-color:'#138542'
  }


  .out 
  {
    height: 7vw;
    margin-top:0vw;
    /* overflow: hidden; */
    /* z-index: -1; */
    /* background-image: url('../../components/images/navbar_bg.svg'); */
   opacity: 0.5;
  }


.marquee
{
    background-image: url('../Images/MG.png');
    height: 10vw;
    background-size: 130vw;
    /* scroll-behavior: smooth; */
   /* animation: scroll 2s linear infinite; */

}
.marquee .mouseenter
{
    background-image: url('../Images/MG.png');
    height: 10vw;
    background-size: 130vw;
    scroll-behavior: smooth;
   animation: scroll 2s linear infinite;

}
.marquee.mouseleave
{
    background-image: url('../Images/MG.png');
    height: 10vw;
    background-size: 130vw;
    scroll-behavior: smooth;
   animation: revscroll 2s linear infinite;

}


/* 
@keyframes scroll {
  to {
    background-position: 0vw 10vw;
  }}

  @keyframes revscroll {
    to {
      background-position: 0vw -10vw;
    }
  
} */


@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position:0vw 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0vw 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 0vw 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position:0vw 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position:0vw 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 0vw 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 0vw 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 0vw 50px;
  }
}

.whole {
  height:400px;
  overflow: hidden;
/*   margin-top: -13.5rem; */
background: url('../Images/MG.png');
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}