@font-face {
    font-family: HeadingPro;
    src: url(./fonts/Heading-Pro-Bold-trial.ttf);
  }
  
  @font-face {
    font-family: DMSans;
    src: url(./fonts/DMSans-Regular.ttf);
  }

/* .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:  #F26A25;
    background-image: url("../assets/competitions_hero_mask.svg");
    background-position: 0px 29vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    
    color: #fcfcfc;
  }
  
  .heading {
    font-family: HeadingPro;
    font-size: 6vw;
  }
  
  .text {
    width: 80vw;
    margin: 0 10vw;
  }
  
  .description {
    margin-top: 1.6vw;
    font-family: DMSans;
    font-size: 2vw;
    width: 76vw;
  }
  
  .downarrow {
    height: 3.5vw;
    position: absolute;
    bottom: 2vw;
    left: 0;
    right: 0;
    margin: 0 auto
  } */

  .container{
    display: flex;
    flex-direction: column;
    background-color:  #F26A25;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/competitions_hero_mask.svg");
    background-position: 0vw 25vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: #fcfcfc;
  }
  .downarrow{
    width: 6vw;
    margin-bottom: 4vw;
  }
  .heading {
    font-family: HeadingPro;
    font-size: 6vw;
  }
  .text {
   margin-top: 10.5vw;
   
  }
  .description {
    margin-top: 1.6vw;
    font-family: DMSans;
    font-size: 2vw;
    width: 76vw;
  }