.navbr
{
    position: absolute;
    top: 1vw;
    right:0;
    /* background: green; */
    
}
.carsl
{
    position: relative;
}

/* .carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}
 */
.bgd
{
    /* background-image: url("../Images/alcher_image.png"); */
    background: url("../Images/alcher_image.png");
    width:100vw;
    height:100vh;
    /* z-index: -1; */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
} 
.positionwords
{
    position: absolute;
    z-index: 1;
    right: 37vw;
    top:4vh;
}

@media (orientation: portrait) {
    .heading_comp {
      font-size: 6vw;
      
    }
    .positionwords {
      font-size: 2vh;
      position: absolute;
      top:-7vh;
      left: 25vw;
    }
    .carclass {
      background-size: 100%;
      height: 50vh;
      /* padding-top: 17vh; */
    }
    .bgd
    {
        background-size: 100vw 50vh;
      height: 50vh;
      /* padding-top: 17vh; */
    }
    
  }