.navbr
{
    position: absolute;
    top: 1vw;
    right:0;
    /* background: green; */
    
}
.carsl
{
    position: relative;
}

/* .carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}
 */
.bgd
{
    /* background-image: url("../Images/alcher_image.png"); */
    background: url("../Images/alcher_image.png");;
    width:100vw;
    height:100vh;
    /* z-index: -1; */
    background-size: 100vw;
}
.positionwords
{
    position: absolute;
    z-index: 1;
    right: 37vw;
    top:4vh;
}