@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.mainnavclass
{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 5vw;
  background-color: rgba(133, 133, 133,1);

    /* background-image: url('../Images/bgd.png'); */
}
 .leftside
{
    display: flex;
    padding-left: 7vw;
    align-items: center;
    
}
a{
    font-size: 1vw;
}
.rightside
{
    display: flex;
    padding-right: 5vw;
 } 
/*
 
  */

/* .rightside
{
    display: flex;
    
} */
 .individual
 {
    padding-left: 1vw;
    padding-right: 1vw;
    /* padding-top: 5vw; */
    font-family: 'DM Sans', sans-serif;
 }
 .individual1
 {
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    text-decoration: underline 12px;
    font-family: 'DM Sans', sans-serif;
    /* padding-top: 5vw; */
 }