@font-face {
    font-family: HeadingPro;
    src: url(../../components/fonts/Heading-Pro-Bold-trial.ttf);
  }
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

.alch
{
    color: white;
    font-weight: 700;
    font-size: 7.7vw;
    font-family: HeadingPro;
    /* margin-top: 3vh; */
}
.givefont
{
  font-family: Montserrat;
font-weight: 700;
  font-size:2.4vw;
  margin-bottom:-3vh;
}
.givefont1
{
  font-family: Montserrat;
font-weight: 600;
  font-size:2vw;
   display: flex;
   font-weight: 700;

  /*   */
}
.givefont2
{
  font-size:1.5vw;
   display: flex;
  /*   */
}
.maindiv
{
  right:23vw;
  top:8vh;
  position:relative;
}
.animesdiv
{
  position:relative;
  right:-56vw;
  top:24vh;
  font-size:4vw;
}
.submain
{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-left:8vw;
  margin-top:9vh;
}
@media (orientation: portrait) {
  .maindiv
  {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    text-align: center;
  }
  .animesdiv
{
  position: absolute;
  right: -37vw;
  top: 35vh;
}
.submain
{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute; 
  right: -45vw;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin-left: 0;

}
  .alch
  {
    font-size: 10vw;
    margin-left: 3.5vw;
    margin-top: 3vw;
  }
  .givefont
{
  font-size:3vw;
  text-align: center;
  margin-left: 3.5vw;
}
.givefont1
{
  font-size:3.5vw;
  width: 70vw;
  /* margin-left: 20vw; */
  /* text-align: center; */
  position: relative;
  left: 14vw;
}
.givefont2
{
  font-size:3.5vw;
  width: 70vw;
  /* margin-left: 20vw; */
  /* text-align: center; */
  position: relative;
  left: 22.5vw;
}
.maindiv
{
  align-content: center;
  font-size:3vw;
  text-align: center;
}
}